body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    background-color: #000000;
    background-image: url(fondo.jpg);
}
#fondo_texto {
    background-color: rgba(0, 0, 0, 0.815);
    color: white;
}
a {
    color: rgb(39, 58, 139);
}
a:hover {
    color: rgb(66, 95, 223);
}
a:visited {
    color: rgb(51, 76, 189);
}
th, td {
    border: 1px solid white;
}
.foto_cambiante {
    float: right;
    position: relative;
    left: 0%;
    margin-top: -4.5%;
}
.foto_cambiante #oculta {
    position: absolute;  
    top: 0;  
    left: 0;
    opacity: 0;
    transition: .2s;
}
.foto_cambiante:hover #oculta {
    opacity: 1;
}
.asunto:focus {
    background-color: rgb(51, 76, 189);
}
#menu {
	position: fixed;
	background-color: rgba(255, 255, 255, 0.705);
    z-index: 5000;
}
#menu a:hover {
	background-color: rgba(255, 255, 255, 0.5);
}